.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 200px); /* Adjust based on header and nav height */
  }

  .empty-cart-message {
    color: #888;
    font-size: 18px;
    margin: 10px 0;
    margin-bottom: 30px;
  }

  .cart-empty-icon {
    font-size: 120px;
  }
  

  .explore-button {
    width: 100%;
    padding: 12px;
    margin-top: 16px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #280769;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    padding: 20px;
    width: 250px;
  }
  
  
  